nodered
[
    {
        "id": "135b50e1.4dc0af",
        "type": "tab",
        "label": "Stairs Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c216edf.870ba2",
        "type": "tab",
        "label": "Home Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3a2a239.bb883",
        "type": "tab",
        "label": "Awake/Sleep",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b9532d00.f7063",
        "type": "tab",
        "label": "Media/Sexy Time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "58d9d93.77bf328",
        "type": "tab",
        "label": "Heat Index",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3104a6ed.cadf8a",
        "type": "tab",
        "label": "Cleaning",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c778a7c.8108c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c7a02f1.65ee3c",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "58edf34.2a68a0c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Local MQTT",
        "broker": "10.0.10.10",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c804028.0050b",
        "type": "light-scheduler-settings",
        "z": "",
        "name": "my settings",
        "latitude": "49.696631",
        "longitude": "11.923846"
    },
    {
        "id": "d20ce5ed.5a1d48",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "url": "http://10.0.10.10:8123",
        "pass": "IheartC0ff33##"
    },
    {
        "id": "320b1add.801136",
        "type": "server-state-changed",
        "z": "135b50e1.4dc0af",
        "name": "Motion on stairs",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "sensor.motion_basement_stairs",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "68a64fdb.34def"
            ]
        ]
    },
    {
        "id": "68a64fdb.34def",
        "type": "switch",
        "z": "135b50e1.4dc0af",
        "name": "motion?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "motion detected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "standby",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "ddbe45e9.8a3ff8",
                "f70be027.e2d24"
            ],
            [
                "f70be027.e2d24"
            ]
        ]
    },
    {
        "id": "ddbe45e9.8a3ff8",
        "type": "api-current-state",
        "z": "135b50e1.4dc0af",
        "name": "Already On?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.basement_light",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "d6e9016b.e29a3"
            ]
        ]
    },
    {
        "id": "99e708d0.f22808",
        "type": "api-call-service",
        "z": "135b50e1.4dc0af",
        "name": "ON",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.basement_stairs_on\"}",
        "mergecontext": "",
        "x": 1250,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f70be027.e2d24",
        "type": "stoptimer",
        "z": "135b50e1.4dc0af",
        "duration": "3",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "765a347.e7eeacc"
            ],
            []
        ]
    },
    {
        "id": "676dc2c4.c6a51c",
        "type": "api-call-service",
        "z": "135b50e1.4dc0af",
        "name": "OFF",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.basement_stairs_off\"}",
        "mergecontext": "",
        "x": 1250,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "84aa8a30.048fb8",
        "type": "server-state-changed",
        "z": "b9532d00.f7063",
        "name": "Kodi State",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "media_player.kodi_living_room",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "b1a03a45.d30cb8"
            ]
        ]
    },
    {
        "id": "b1a03a45.d30cb8",
        "type": "switch",
        "z": "b9532d00.f7063",
        "name": "Playing/Paused",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "paused",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "bd3e1bb3.838a48"
            ],
            [
                "d75fce59.89605"
            ],
            [
                "6194ece4.14b824"
            ]
        ]
    },
    {
        "id": "dcfc6f20.54074",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "Playing",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.media_playing_night\"}",
        "mergecontext": "",
        "x": 900,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f53fe414.deca98",
        "type": "server-state-changed",
        "z": "e3a2a239.bb883",
        "name": "Josh Status",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "input_select.josh_status",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "dc718236.1a522"
            ]
        ]
    },
    {
        "id": "6e9b5e36.76c92",
        "type": "api-current-state",
        "z": "e3a2a239.bb883",
        "name": "Sun",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "sun.sun",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "2380002f.9e334"
            ]
        ]
    },
    {
        "id": "2380002f.9e334",
        "type": "switch",
        "z": "e3a2a239.bb883",
        "name": "Sun Position",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "above_horizon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "below_horizon",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "2513bb91.3eda84"
            ],
            [
                "d4f71cf2.69e51"
            ]
        ]
    },
    {
        "id": "a06eb808.8ae298",
        "type": "inject",
        "z": "e3a2a239.bb883",
        "name": "",
        "topic": "Awake",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 118,
        "y": 59,
        "wires": [
            []
        ]
    },
    {
        "id": "d4f71cf2.69e51",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_awake_dark",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.s_awake_dark\"}",
        "mergecontext": "",
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2513bb91.3eda84",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_awake_light",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.s_awake_light\"}",
        "mergecontext": "",
        "x": 960,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f06a997b.33ece8",
        "type": "server-state-changed",
        "z": "e3a2a239.bb883",
        "name": "MJ Status",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "input_select.mj_status",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "21e92dfb.ed92e2"
            ]
        ]
    },
    {
        "id": "15cda982.71dee6",
        "type": "stoptimer",
        "z": "e3a2a239.bb883",
        "duration": "5",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 640,
        "y": 160,
        "wires": [
            [
                "135e4823.c165d8"
            ],
            []
        ]
    },
    {
        "id": "213a0622.4bcaaa",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_his_sleep_mode",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.s_his_sleep_mode\"}",
        "mergecontext": "",
        "x": 870,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "38b760d8.059b3",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_her_sleep_mode",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.s_her_sleep_mode\"}",
        "mergecontext": "",
        "x": 890,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "135e4823.c165d8",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "Set Josh Home",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{\"entity_id\":\"input_select.josh_status\",\"option\":\"Home\"}",
        "mergecontext": "",
        "x": 840,
        "y": 160,
        "wires": [
            [
                "c5b71145.d16a1"
            ]
        ]
    },
    {
        "id": "dc718236.1a522",
        "type": "switch",
        "z": "e3a2a239.bb883",
        "name": "Josh Status",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sleeping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Awake",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "6f2699ef.913768"
            ],
            [
                "15cda982.71dee6",
                "6e9b5e36.76c92"
            ]
        ]
    },
    {
        "id": "21e92dfb.ed92e2",
        "type": "switch",
        "z": "e3a2a239.bb883",
        "name": "MJ Status",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Awake",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sleeping",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6e9b5e36.76c92",
                "ab28de2e.09905"
            ],
            [
                "2f47ab19.47a654"
            ]
        ]
    },
    {
        "id": "ab28de2e.09905",
        "type": "stoptimer",
        "z": "e3a2a239.bb883",
        "duration": "3",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "d1cfaa14.ff8358"
            ],
            []
        ]
    },
    {
        "id": "d1cfaa14.ff8358",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "Set MJ Home",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{\"entity_id\":\"input_select.mj_status\",\"option\":\"Home\"}",
        "mergecontext": "",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "39f9b86a.4feee8"
            ]
        ]
    },
    {
        "id": "1dc74b83.1efab4",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_his_awake_home_below",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"scene.s_his_awake_home_below\" }",
        "mergecontext": "",
        "x": 1380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "39f9b86a.4feee8",
        "type": "change",
        "z": "e3a2a239.bb883",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "44a409ab.b4e7e8"
            ]
        ]
    },
    {
        "id": "44a409ab.b4e7e8",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_her_awake_home",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"scene.s_her_awake_home\" }",
        "mergecontext": "",
        "x": 1300,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6f2699ef.913768",
        "type": "api-current-state",
        "z": "e3a2a239.bb883",
        "name": "MJ Ext Way?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_select.mj_status",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "8bc9313a.16fc5"
            ]
        ]
    },
    {
        "id": "8bc9313a.16fc5",
        "type": "switch",
        "z": "e3a2a239.bb883",
        "name": "Ext Away/Home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Extended Away",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Extended Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 80,
        "wires": [
            [
                "d603c522.9aa058"
            ],
            [
                "213a0622.4bcaaa"
            ]
        ]
    },
    {
        "id": "d603c522.9aa058",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_his_sleep_ext_away",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.s_his_sleep_ext_away\"}",
        "mergecontext": "",
        "x": 880,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2f47ab19.47a654",
        "type": "api-current-state",
        "z": "e3a2a239.bb883",
        "name": "Josh Ext Way?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_select.josh_status",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "a5f2f726.ade418"
            ]
        ]
    },
    {
        "id": "a5f2f726.ade418",
        "type": "switch",
        "z": "e3a2a239.bb883",
        "name": "Ext Away/Home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Extended Away",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Extended Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "8f71292c.d1ea28"
            ],
            [
                "38b760d8.059b3"
            ]
        ]
    },
    {
        "id": "8f71292c.d1ea28",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_her_sleep_ext_away",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.s_her_sleep_ext_away\"}",
        "mergecontext": "",
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2cbce301.369fbc",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "Paused",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.media_paused_night\"}",
        "mergecontext": "",
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4b945ad5.782524",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "Stopped",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{\"entity_id\":\"scene.media_stopped_night\"}",
        "mergecontext": "",
        "x": 900,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d0d319e.c251fe8",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Media Lockout",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.media_lockout",
        "x": 720,
        "y": 60,
        "wires": [
            [
                "dcfc6f20.54074"
            ]
        ]
    },
    {
        "id": "95fceaa6.013188",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Media Lockout",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.media_lockout",
        "x": 720,
        "y": 100,
        "wires": [
            [
                "2cbce301.369fbc"
            ]
        ]
    },
    {
        "id": "84e14c09.e4d24",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Media Lockout",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.media_lockout",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "4b945ad5.782524"
            ]
        ]
    },
    {
        "id": "55a803b3.eaef0c",
        "type": "switch",
        "z": "e3a2a239.bb883",
        "name": "above/below",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "above_horizon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "below_horizon",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "5ee3b14b.e411"
            ],
            [
                "1dc74b83.1efab4"
            ]
        ]
    },
    {
        "id": "5ee3b14b.e411",
        "type": "api-call-service",
        "z": "e3a2a239.bb883",
        "name": "s_his_awake_home_above",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"scene.s_his_awake_home_above\" }",
        "mergecontext": "",
        "x": 1380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bd3e1bb3.838a48",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Sun above/below",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "above_horizon",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "sun.sun",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "d0d319e.c251fe8"
            ]
        ]
    },
    {
        "id": "d75fce59.89605",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Sun above/below",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "above_horizon",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "sun.sun",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "95fceaa6.013188"
            ]
        ]
    },
    {
        "id": "6194ece4.14b824",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Sun above/below",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "above_horizon",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "sun.sun",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "84e14c09.e4d24"
            ]
        ]
    },
    {
        "id": "d25a79ab.8f5038",
        "type": "server-state-changed",
        "z": "58d9d93.77bf328",
        "name": "Bed Temp",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "sensor.bedroom_temp",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "705ba26a.09acfc"
            ]
        ]
    },
    {
        "id": "4d098f4.39c577",
        "type": "server-state-changed",
        "z": "58d9d93.77bf328",
        "name": "Bed Hum",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "sensor.bedroom_hum",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "aaccf20.eb2f81"
            ]
        ]
    },
    {
        "id": "3a62dfc0.f2d83",
        "type": "function",
        "z": "58d9d93.77bf328",
        "name": "Heat Index",
        "func": "var temp = flow.get('temp');\nvar hum = flow.get('hum');\n\nif (temp >= 80)\n{\n    heatIndex = -42.379 + 2.04901523*temp + 10.14333127*hum;\n    heatIndex = heatIndex - 0.22475541*temp*hum - 0.00683783*temp*temp;\n    heatIndex = heatIndex - 0.05481717*hum*hum + 0.00122874*temp*temp*hum;\n    heatIndex = heatIndex + 0.00085282*temp*hum*hum - 0.00000199*temp*temp*hum*hum;\n}\nelse\n{\n    heatIndex = 0.5 * (temp + 61 + ((temp - 68)*1.2) + (hum * 0.094));\n}\n\n\n\nmsg.topic = 'flamingotter/bedSensor1/heatIdx'\nmsg.payload = parseFloat(heatIndex).toFixed(2);\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "1af4bbb7.0d1374"
            ]
        ]
    },
    {
        "id": "765a347.e7eeacc",
        "type": "api-current-state",
        "z": "135b50e1.4dc0af",
        "name": "Cleaning?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.cleaning",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "d1936356.5af3a"
            ]
        ]
    },
    {
        "id": "aaccf20.eb2f81",
        "type": "change",
        "z": "58d9d93.77bf328",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "3a62dfc0.f2d83"
            ]
        ]
    },
    {
        "id": "705ba26a.09acfc",
        "type": "change",
        "z": "58d9d93.77bf328",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "3a62dfc0.f2d83"
            ]
        ]
    },
    {
        "id": "1af4bbb7.0d1374",
        "type": "mqtt out",
        "z": "58d9d93.77bf328",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "58edf34.2a68a0c",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ac9b812.3aa1d8",
        "type": "server-state-changed",
        "z": "3104a6ed.cadf8a",
        "name": "input_boolean.cleaning",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "input_boolean.cleaning",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "865778e0.d12be8"
            ]
        ]
    },
    {
        "id": "865778e0.d12be8",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 384,
        "y": 620,
        "wires": [
            [
                "c1cdad44.3f58",
                "84798e75.e5b34",
                "c75425b3.611238",
                "dc36d672.a00d98",
                "8da54d13.18b3a",
                "6fb50482.a882cc",
                "e4fbb7e8.99fdc8",
                "4cd13bb5.841ab4",
                "f9e79926.2409d8",
                "19d8791e.3d45f7",
                "8d822722.d83d48",
                "43ff8e98.4e1a8"
            ],
            [
                "22da8144.56664e",
                "398f0685.7b7d0a",
                "750aa90f.2e8068",
                "8cf73322.fbf8f",
                "ead9edaa.b7ace",
                "57886ff1.4a488",
                "5f1f4825.64e5b8",
                "74abe624.9e1c78",
                "ae4814ed.85bee8",
                "f4757774.b0c588",
                "2d64fbc4.c22a94",
                "37efe839.b506f8"
            ]
        ]
    },
    {
        "id": "c1cdad44.3f58",
        "type": "stoptimer",
        "z": "3104a6ed.cadf8a",
        "duration": "1",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 720,
        "y": 60,
        "wires": [
            [
                "8891e3a7.c1e3e"
            ],
            []
        ]
    },
    {
        "id": "84798e75.e5b34",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Corner Lamp",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.corner_lamp",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "36c549c6.5b2e46"
            ]
        ]
    },
    {
        "id": "22da8144.56664e",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "cornerLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 680,
        "wires": [
            [
                "7463eb76.ec8cb4"
            ]
        ]
    },
    {
        "id": "c75425b3.611238",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Table Lamp",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.table_lamp",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "ac43bf56.92a19"
            ]
        ]
    },
    {
        "id": "dc36d672.a00d98",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Dining Light",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.dining_light",
        "x": 710,
        "y": 240,
        "wires": [
            [
                "10c4e5aa.5b358a"
            ]
        ]
    },
    {
        "id": "8da54d13.18b3a",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Dinner Light",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.dinner_light",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "b378816b.cf54d"
            ]
        ]
    },
    {
        "id": "6fb50482.a882cc",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Kitchen Light",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.kitchen_light",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "5f260855.24def8"
            ]
        ]
    },
    {
        "id": "e4fbb7e8.99fdc8",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Cabinet Light",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.cabinet_light",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "61d4877a.220818"
            ]
        ]
    },
    {
        "id": "4cd13bb5.841ab4",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Paper Lamp",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.paper_lamp",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "cc1fa26f.d9a05"
            ]
        ]
    },
    {
        "id": "f9e79926.2409d8",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Basement Light",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.basement_light",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "a7ff374a.323448"
            ]
        ]
    },
    {
        "id": "19d8791e.3d45f7",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Eugene",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.eugene",
        "x": 700,
        "y": 480,
        "wires": [
            [
                "4fc6c2e4.cec8cc"
            ]
        ]
    },
    {
        "id": "8d822722.d83d48",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Rapunzel",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.rapunzel",
        "x": 700,
        "y": 520,
        "wires": [
            [
                "b52f5298.70777"
            ]
        ]
    },
    {
        "id": "398f0685.7b7d0a",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "tableLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 720,
        "wires": [
            [
                "af395090.642f"
            ]
        ]
    },
    {
        "id": "750aa90f.2e8068",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "diningLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 760,
        "wires": [
            [
                "908a3ed6.d4a0f"
            ]
        ]
    },
    {
        "id": "8cf73322.fbf8f",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "dinnerLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 800,
        "wires": [
            [
                "cb0d19f9.47eb88"
            ]
        ]
    },
    {
        "id": "ead9edaa.b7ace",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "kitchenLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 840,
        "wires": [
            [
                "d4c2a12d.3ea16"
            ]
        ]
    },
    {
        "id": "57886ff1.4a488",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "cabinetLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 880,
        "wires": [
            [
                "7f117510.00fcbc"
            ]
        ]
    },
    {
        "id": "5f1f4825.64e5b8",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "paperLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 920,
        "wires": [
            [
                "efd09f80.ed7d7"
            ]
        ]
    },
    {
        "id": "74abe624.9e1c78",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "basementLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 960,
        "wires": [
            [
                "8a86e206.9151a"
            ]
        ]
    },
    {
        "id": "ae4814ed.85bee8",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "eugeneLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "b76427b4.a0fe78"
            ]
        ]
    },
    {
        "id": "f4757774.b0c588",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "rapunzelLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "a5cebf72.106e8"
            ]
        ]
    },
    {
        "id": "2d64fbc4.c22a94",
        "type": "switch",
        "z": "3104a6ed.cadf8a",
        "name": "Check Flow",
        "property": "foyerLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 1080,
        "wires": [
            [
                "f9e1be6c.ae9a2"
            ]
        ]
    },
    {
        "id": "43ff8e98.4e1a8",
        "type": "api-current-state",
        "z": "3104a6ed.cadf8a",
        "name": "Foyer Light",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.foyer_light",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "fee3d8b2.a16688"
            ]
        ]
    },
    {
        "id": "37efe839.b506f8",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Auto",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1160,
        "wires": [
            [
                "bc479a8d.192f68"
            ]
        ]
    },
    {
        "id": "8891e3a7.c1e3e",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "s_cleaning",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"scene.s_cleaning\" }",
        "mergecontext": "",
        "x": 910,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "36c549c6.5b2e46",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "cornerLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7463eb76.ec8cb4",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Corner Lamp",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.corner_lamp\" }",
        "mergecontext": "",
        "x": 910,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ac43bf56.92a19",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "tableLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "10c4e5aa.5b358a",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "diningLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b378816b.cf54d",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "dinnerLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5f260855.24def8",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "kitchenLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "61d4877a.220818",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "cabinetLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cc1fa26f.d9a05",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "paperLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a7ff374a.323448",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "basementLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc6c2e4.cec8cc",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "eugeneLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b52f5298.70777",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "rapunzelLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "af395090.642f",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Table Lamp",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.table_lamp\" }",
        "mergecontext": "",
        "x": 910,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "908a3ed6.d4a0f",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Dining Light",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.dining_light\" }",
        "mergecontext": "",
        "x": 910,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cb0d19f9.47eb88",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Dinner Light",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.dinner_light\" }",
        "mergecontext": "",
        "x": 910,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "d4c2a12d.3ea16",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Kitchen Light",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.kitchen_light\" }",
        "mergecontext": "",
        "x": 910,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "7f117510.00fcbc",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Cabinet Light",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"switch.cabinet_light\" }",
        "mergecontext": "",
        "x": 910,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "efd09f80.ed7d7",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Paper Lamp",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"switch.paper_lamp\" }",
        "mergecontext": "",
        "x": 910,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "8a86e206.9151a",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Basement Light",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.basement_light\" }",
        "mergecontext": "",
        "x": 920,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "b76427b4.a0fe78",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Eugene",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.eugene\" }",
        "mergecontext": "",
        "x": 900,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "a5cebf72.106e8",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Rapunzel",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.rapunzel\" }",
        "mergecontext": "",
        "x": 900,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "f9e1be6c.ae9a2",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "Foyer Light",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"switch.foyer_light\" }",
        "mergecontext": "",
        "x": 910,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "fee3d8b2.a16688",
        "type": "change",
        "z": "3104a6ed.cadf8a",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "foyerLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "bc479a8d.192f68",
        "type": "light-scheduler",
        "z": "3104a6ed.cadf8a",
        "settings": "7c804028.0050b",
        "events": "[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":1,\"mod\":1320}}]",
        "topic": "",
        "name": "Sunset Lights",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": true,
        "sunElevationThreshold": "6",
        "sunShowElevationInStatus": true,
        "outputfreq": "output.statechange.startup",
        "x": 920,
        "y": 1160,
        "wires": [
            [
                "feaeee96.198fd",
                "b8129d2a.e224"
            ]
        ]
    },
    {
        "id": "feaeee96.198fd",
        "type": "function",
        "z": "3104a6ed.cadf8a",
        "name": "ON",
        "func": "if (msg.payload == \"ON\"){\nreturn msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 1109,
        "y": 1142,
        "wires": [
            [
                "eb07eca7.26c6b"
            ]
        ]
    },
    {
        "id": "b8129d2a.e224",
        "type": "function",
        "z": "3104a6ed.cadf8a",
        "name": "OFF",
        "func": "if (msg.payload == \"OFF\"){\nreturn msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 1109,
        "y": 1182,
        "wires": [
            [
                "6fdfb97d.0b8c78"
            ]
        ]
    },
    {
        "id": "eb07eca7.26c6b",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "group.living_room_lamps",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"group.living_room_lamps\",\"brightness_pct\": \"100\",\"color_temp\":\"222\",\"transition\":\"10\" }",
        "mergecontext": "",
        "x": 1309,
        "y": 1142,
        "wires": [
            []
        ]
    },
    {
        "id": "6fdfb97d.0b8c78",
        "type": "api-call-service",
        "z": "3104a6ed.cadf8a",
        "name": "group.living_room_lamps",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"group.living_room_lamps\" }",
        "mergecontext": "",
        "x": 1309,
        "y": 1182,
        "wires": [
            []
        ]
    },
    {
        "id": "27ab782f.d92348",
        "type": "comment",
        "z": "58d9d93.77bf328",
        "name": "Bedroom Heat Index",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "77c61677.168848",
        "type": "comment",
        "z": "3104a6ed.cadf8a",
        "name": "Check Current State and Set Flow",
        "info": "",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd616c0.d8a6898",
        "type": "comment",
        "z": "3104a6ed.cadf8a",
        "name": "Check Previous State and Restore",
        "info": "",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "3cc18550.86b59a",
        "type": "comment",
        "z": "3104a6ed.cadf8a",
        "name": "Pause 1 Sec Then Turn On All Lights",
        "info": "",
        "x": 790,
        "y": 20,
        "wires": []
    },
    {
        "id": "1846cab0.da4875",
        "type": "api-current-state",
        "z": "135b50e1.4dc0af",
        "name": "Sexy Time?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.sexy_time",
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "99e708d0.f22808"
            ]
        ]
    },
    {
        "id": "64a3ae36.22fd4",
        "type": "server-state-changed",
        "z": "b9532d00.f7063",
        "name": "Sexy Time",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "input_boolean.sexy_time",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 120,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d11a4633.730348",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "s_sexy_time",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"scene.s_bed_mood_light\" }",
        "mergecontext": "",
        "x": 770,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ab5e5649.1a4908",
        "type": "switch",
        "z": "b9532d00.f7063",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "dfbb7bd4.389df8",
                "896033e0.dbc53",
                "7f521edf.73da",
                "d06f4074.19791"
            ],
            [
                "2cda580e.286f78",
                "a15a049d.c551b8",
                "e5cccd9b.632ba",
                "1fa23adf.b98d75"
            ]
        ]
    },
    {
        "id": "dfbb7bd4.389df8",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Rapunzel",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.rapunzel",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "a7d0d44e.135478"
            ]
        ]
    },
    {
        "id": "a7d0d44e.135478",
        "type": "change",
        "z": "b9532d00.f7063",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "rapunzelLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "896033e0.dbc53",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.dining_light",
        "x": 550,
        "y": 380,
        "wires": [
            [
                "8d6a2f80.4d857"
            ]
        ]
    },
    {
        "id": "7f521edf.73da",
        "type": "stoptimer",
        "z": "b9532d00.f7063",
        "duration": "1",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 580,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d06f4074.19791",
        "type": "api-current-state",
        "z": "b9532d00.f7063",
        "name": "Under Bed",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.under_bed",
        "x": 570,
        "y": 460,
        "wires": [
            [
                "f3a69472.2829d8"
            ]
        ]
    },
    {
        "id": "f3a69472.2829d8",
        "type": "change",
        "z": "b9532d00.f7063",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "underbedLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2cda580e.286f78",
        "type": "switch",
        "z": "b9532d00.f7063",
        "name": "Check Flow",
        "property": "dininglight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "19d583dd.10d50c",
                "b18541d2.9754e"
            ],
            [
                "842a49a.d0633b8"
            ]
        ]
    },
    {
        "id": "842a49a.d0633b8",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.dining_light\" }",
        "mergecontext": "",
        "x": 750,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a15a049d.c551b8",
        "type": "switch",
        "z": "b9532d00.f7063",
        "name": "Check Flow",
        "property": "rapunzelLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "c73de32d.c35fc"
            ]
        ]
    },
    {
        "id": "c73de32d.c35fc",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "Rapunzel",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.rapunzel\" }",
        "mergecontext": "",
        "x": 760,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e5cccd9b.632ba",
        "type": "switch",
        "z": "b9532d00.f7063",
        "name": "Check Flow",
        "property": "underbedLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "3b8006d7.e3260a"
            ]
        ]
    },
    {
        "id": "3b8006d7.e3260a",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "Under Bed",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"light.under_bed\" }",
        "mergecontext": "",
        "x": 770,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ae25563d.a1c8a8",
        "type": "comment",
        "z": "b9532d00.f7063",
        "name": "Check Previous State and Restore",
        "info": "",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "5705217a.dcd14",
        "type": "comment",
        "z": "b9532d00.f7063",
        "name": "Check Current State and Set Flow",
        "info": "",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "19d583dd.10d50c",
        "type": "debug",
        "z": "b9532d00.f7063",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 620,
        "wires": []
    },
    {
        "id": "c99f4383.ec856",
        "type": "debug",
        "z": "b9532d00.f7063",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "9ec36869.dd35c8",
        "type": "comment",
        "z": "b9532d00.f7063",
        "name": "work to set the flow with all state attributes",
        "info": "data.attributes.brightness 255\ndata.attributes.effect\n",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "9c9b66cc.972268",
        "type": "api-call-service",
        "z": "b9532d00.f7063",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"light.dining_light\" }",
        "mergecontext": "",
        "x": 950,
        "y": 560,
        "wires": [
            [
                "f07e9a4d.256488"
            ]
        ]
    },
    {
        "id": "d5b99598.a799f8",
        "type": "debug",
        "z": "b9532d00.f7063",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "1fa23adf.b98d75",
        "type": "debug",
        "z": "b9532d00.f7063",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 370,
        "y": 680,
        "wires": []
    },
    {
        "id": "f07e9a4d.256488",
        "type": "debug",
        "z": "b9532d00.f7063",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "b18541d2.9754e",
        "type": "function",
        "z": "b9532d00.f7063",
        "name": "",
        "func": "flow.get(\"dininglight\");\n\nmsg.payload = dininglight\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 560,
        "wires": [
            [
                "9c9b66cc.972268",
                "c99f4383.ec856"
            ]
        ]
    },
    {
        "id": "225bc5cd.0d8fba",
        "type": "function",
        "z": "b9532d00.f7063",
        "name": "",
        "func": "var dininglight = flow.set(\"dininglight\", msg);\n\nmsg.payload = dininglight\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "d5b99598.a799f8"
            ]
        ]
    },
    {
        "id": "8d6a2f80.4d857",
        "type": "change",
        "z": "b9532d00.f7063",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "dininglight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "225bc5cd.0d8fba"
            ]
        ]
    },
    {
        "id": "82ca093c.7df1d8",
        "type": "api-current-state",
        "z": "9c778a7c.8108c8",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.dining_light",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "a9533843.997c78"
            ]
        ]
    },
    {
        "id": "348670bc.52312",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1350,
        "y": 240,
        "wires": []
    },
    {
        "id": "db61c077.1cc6b",
        "type": "function",
        "z": "9c778a7c.8108c8",
        "name": "",
        "func": "var dininglight = flow.get(\"dininglight\");\n\n//msg.topic = \"light.dining_light\";\nmsg = dininglight\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 640,
        "wires": [
            [
                "5fafc4ca.a6f3dc"
            ]
        ]
    },
    {
        "id": "9aaeb5bf.b74928",
        "type": "switch",
        "z": "9c778a7c.8108c8",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "82ca093c.7df1d8"
            ],
            [
                "db61c077.1cc6b"
            ]
        ]
    },
    {
        "id": "4f817df6.8f3f34",
        "type": "inject",
        "z": "9c778a7c.8108c8",
        "name": "",
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "9aaeb5bf.b74928"
            ]
        ]
    },
    {
        "id": "e1cd0e0a.6ebdb",
        "type": "inject",
        "z": "9c778a7c.8108c8",
        "name": "",
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "9aaeb5bf.b74928"
            ]
        ]
    },
    {
        "id": "898809f5.fb1c18",
        "type": "api-call-service",
        "z": "9c778a7c.8108c8",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{  }",
        "mergecontext": "",
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "85289d8f.77945"
            ]
        ]
    },
    {
        "id": "85289d8f.77945",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1330,
        "y": 600,
        "wires": []
    },
    {
        "id": "5fafc4ca.a6f3dc",
        "type": "switch",
        "z": "9c778a7c.8108c8",
        "name": "Check Flow",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 640,
        "wires": [
            [
                "898809f5.fb1c18",
                "75d19be8.36e334"
            ],
            [
                "c929b228.7f1b3"
            ]
        ]
    },
    {
        "id": "c929b228.7f1b3",
        "type": "api-call-service",
        "z": "9c778a7c.8108c8",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"light.dining_light\" }",
        "mergecontext": "",
        "x": 1170,
        "y": 680,
        "wires": [
            [
                "12f99191.c562be"
            ]
        ]
    },
    {
        "id": "12f99191.c562be",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1330,
        "y": 680,
        "wires": []
    },
    {
        "id": "75d19be8.36e334",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "e840b945.da2538",
        "type": "inject",
        "z": "9c778a7c.8108c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "326410ab.564a7",
                "3be9972e.9d68c8"
            ]
        ]
    },
    {
        "id": "f19430ae.4f113",
        "type": "api-call-service",
        "z": "9c778a7c.8108c8",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 1790,
        "y": 420,
        "wires": [
            [
                "dd38b2bd.3ca66"
            ]
        ]
    },
    {
        "id": "b18f4257.6c0cd",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1570,
        "y": 380,
        "wires": []
    },
    {
        "id": "dd38b2bd.3ca66",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1950,
        "y": 420,
        "wires": []
    },
    {
        "id": "326410ab.564a7",
        "type": "change",
        "z": "9c778a7c.8108c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dininglight",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "data.attributes.brightness",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "b18f4257.6c0cd",
                "8a40d45.4281728"
            ]
        ]
    },
    {
        "id": "3be9972e.9d68c8",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1330,
        "y": 380,
        "wires": []
    },
    {
        "id": "8a40d45.4281728",
        "type": "switch",
        "z": "9c778a7c.8108c8",
        "name": "Check Flow",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1590,
        "y": 460,
        "wires": [
            [
                "f19430ae.4f113"
            ],
            [
                "f437076f.8c7bd8"
            ]
        ]
    },
    {
        "id": "f437076f.8c7bd8",
        "type": "api-call-service",
        "z": "9c778a7c.8108c8",
        "name": "Dining",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "light",
        "service": "turn_off",
        "data": "",
        "mergecontext": "",
        "x": 1790,
        "y": 500,
        "wires": [
            [
                "93adc561.d4ad78"
            ]
        ]
    },
    {
        "id": "93adc561.d4ad78",
        "type": "debug",
        "z": "9c778a7c.8108c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1950,
        "y": 500,
        "wires": []
    },
    {
        "id": "a9533843.997c78",
        "type": "function",
        "z": "9c778a7c.8108c8",
        "name": "",
        "func": "var dininglight = flow.set(\"dininglight\", msg);\n\n//msg = dininglight\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "348670bc.52312"
            ]
        ]
    },
    {
        "id": "b557d4d4.3afdf8",
        "type": "change",
        "z": "9c778a7c.8108c8",
        "name": "Set Flow",
        "rules": [
            {
                "t": "set",
                "p": "dininglight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9cf302e5.d30dd",
        "type": "api-current-state",
        "z": "135b50e1.4dc0af",
        "name": "Josh Sleeping?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "Sleeping",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_select.josh_status",
        "x": 900,
        "y": 160,
        "wires": [
            [
                "1846cab0.da4875"
            ]
        ]
    },
    {
        "id": "d6e9016b.e29a3",
        "type": "api-current-state",
        "z": "135b50e1.4dc0af",
        "name": "MJ Sleeping?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "Sleeping",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_select.mj_status",
        "x": 700,
        "y": 160,
        "wires": [
            [
                "9cf302e5.d30dd"
            ]
        ]
    },
    {
        "id": "d4527009.c83f3",
        "type": "api-current-state",
        "z": "135b50e1.4dc0af",
        "name": "Josh Sleeping?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "Sleeping",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_select.josh_status",
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "676dc2c4.c6a51c"
            ]
        ]
    },
    {
        "id": "d1936356.5af3a",
        "type": "api-current-state",
        "z": "135b50e1.4dc0af",
        "name": "MJ Sleeping?",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "Sleeping",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_select.mj_status",
        "x": 880,
        "y": 240,
        "wires": [
            [
                "d4527009.c83f3"
            ]
        ]
    },
    {
        "id": "76b081ea.7b58b",
        "type": "server-state-changed",
        "z": "2c216edf.870ba2",
        "name": "input_select.josh_status",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "input_select.josh_status",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "cd4dea64.545668"
            ]
        ]
    },
    {
        "id": "fe5d905f.3863d",
        "type": "server-state-changed",
        "z": "2c216edf.870ba2",
        "name": "input_select.mj_status",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "input_select.mj_status",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "cd4dea64.545668"
            ]
        ]
    },
    {
        "id": "6d4378aa.dd2f88",
        "type": "api-call-service",
        "z": "2c216edf.870ba2",
        "name": "Home Locked Down",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{\"entity_id\":\"input_select.home_status\",\"option\":\"Locked Down\"}",
        "mergecontext": "",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "160d6a99.537ce5",
        "type": "switch",
        "z": "2c216edf.870ba2",
        "name": "Status Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Locked Down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Disarmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sleeping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "6d4378aa.dd2f88",
                "ee4c91ce.26ee"
            ],
            [
                "2035f2da.2185de",
                "2a796ad1.cc1fb6"
            ],
            [
                "d7fc364e.78adf8"
            ],
            [
                "dc89f725.4c4598"
            ]
        ]
    },
    {
        "id": "2035f2da.2185de",
        "type": "api-call-service",
        "z": "2c216edf.870ba2",
        "name": "Home Disarmed",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{\"entity_id\":\"input_select.home_status\",\"option\":\"Disarmed\"}",
        "mergecontext": "",
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ee4c91ce.26ee",
        "type": "api-call-service",
        "z": "2c216edf.870ba2",
        "name": "Notify Lock Down",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "notify",
        "service": "josh",
        "data": "{\"title\":\"Lock Down\",\"message\": \"HOME is Locked Down {{now().strftime('%H:%M-%d%b')}}\"}",
        "mergecontext": "",
        "x": 950,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2a796ad1.cc1fb6",
        "type": "api-call-service",
        "z": "2c216edf.870ba2",
        "name": "Notify Disarmed",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "notify",
        "service": "josh",
        "data": "{\"title\":\"Disarmed\",\"message\": \"HOME is Disarmed {{now().strftime('%H:%M-%d%b')}}\"}",
        "mergecontext": "",
        "x": 940,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d7fc364e.78adf8",
        "type": "api-call-service",
        "z": "2c216edf.870ba2",
        "name": "Home Sleeping",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{\"entity_id\":\"input_select.home_status\",\"option\":\"Sleeping\"}",
        "mergecontext": "",
        "x": 900,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cd4dea64.545668",
        "type": "function",
        "z": "2c216edf.870ba2",
        "name": "Define Actions",
        "func": "if (msg.topic == \"input_select.josh_status\")\n{\n    global.set(\"j\", msg.payload);\n}\n\nif (msg.topic == \"input_select.mj_status\")\n{\n    global.set(\"m\", msg.payload);\n}\n\nif (msg.topic == \"input_select.home_status\")\n{\n    global.set(\"h\", msg.payload);\n}\n\n\nvar joshStatus=global.get(\"j\");\nvar mjStatus=global.get(\"m\");\nvar homeStatus=global.get(\"h\");\n\n//////////////\n//DISARMED\n//////////////\n\nif(homeStatus===\"Locked Down\")\n{\n    if(joshStatus===\"Just Arrived\")\n    {\n        if(mjStatus===\"Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        else if(mjStatus===\"Extended Away\")\n        {\n            if(joshStatus===\"Just Arrived\")\n            {\n                return {payload: \"Disarmed\"};\n            }\n            \n        }\n    }\n    else if(mjStatus===\"Just Arrived\")\n    {\n        if(joshStatus===\"Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        else if(joshStatus===\"Extended Away\")\n        {\n            if(mjStatus===\"Just Arrived\")\n            {\n                return {payload: \"Disarmed\"};\n            }\n            \n        }\n    }\n}\n\nif(homeStatus===\"Away\")\n{\n    if(joshStatus===\"Just Arrived\")\n    {\n        if(mjStatus===\"Extended Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        \n    }\n    else if(mjStatus===\"Just Arrived\")\n    {\n        if(joshStatus===\"Extended Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        \n    }\n}\n\nif(homeStatus===\"Sleeping\")\n{\n    if(joshStatus===\"Awake\")\n    {\n        if(mjStatus===\"Extended Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        \n    }\n    else if(mjStatus===\"Awake\")\n    {\n        if(joshStatus===\"Extended Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        \n    }\n    else if(joshStatus===\"Awake\")\n    {\n        if(mjStatus===\"Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        \n    }\n    else if(mjStatus===\"Awake\")\n    {\n        if(joshStatus===\"Away\")\n        {\n            return {payload: \"Disarmed\"};\n        }\n        \n    }\n}\n\n//////////////\n//LOCKED DOWN\n//////////////\n\nif(homeStatus===\"Disarmed\")\n{\n    if(joshStatus===\"Away\")\n    {\n        if(mjStatus===\"Away\")\n        {\n            return {payload: \"Locked Down\"};\n        }\n        else if(mjStatus===\"Extended Away\")\n        {\n            if(joshStatus===\"Away\")\n            {\n                return {payload: \"Locked Down\"};\n            }\n        }\n    }\n    else if(mjStatus===\"Away\")\n    {\n        if(joshStatus===\"Away\")\n        {\n            return {payload: \"Locked Down\"};\n        }\n        else if(joshStatus===\"Extended Away\")\n        {\n            if(mjStatus===\"Away\")\n            {\n                return {payload: \"Locked Down\"};\n            }\n        }\n    }\n}\n\n//////////////\n//AWAY\n//////////////\n\nif(homeStatus===\"Locked Down\")\n{\n    if(joshStatus===\"Extended Away\")\n    {\n        if(mjStatus===\"Extended Away\")\n        {\n            return {payload: \"Away\"};\n        }\n    }\n}\n\n//////////////\n//SLEEPING\n//////////////\n\nif(homeStatus===\"Disarmed\")\n{\n    if(joshStatus===\"Sleeping\")\n    {\n        if(mjStatus===\"Sleeping\")\n        {\n            return {payload: \"Sleeping\"};\n        }\n    }\n    else if(mjStatus===\"Extended Away\")\n    {\n        if(joshStatus===\"Sleeping\")\n        {\n            return {payload: \"Sleeping\"};\n        }\n    }\n    else if(joshStatus===\"Extended Away\")\n    {\n        if(mjStatus===\"Sleeping\")\n        {\n            return {payload: \"Sleeping\"};\n        }\n    }\n    else if(joshStatus===\"Away\")\n    {\n        if(mjStatus===\"Sleeping\")\n        {\n            return {payload: \"Sleeping\"};\n        }\n    }\n    else if(mjStatus===\"Away\")\n    {\n        if(joshStatus===\"Sleeping\")\n        {\n            return {payload: \"Sleeping\"};\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "160d6a99.537ce5"
            ]
        ]
    },
    {
        "id": "832d22e7.5d9fc",
        "type": "server-state-changed",
        "z": "2c216edf.870ba2",
        "name": "input_select.home_status",
        "server": "d20ce5ed.5a1d48",
        "entityidfilter": "input_select.home_status",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "cd4dea64.545668"
            ]
        ]
    },
    {
        "id": "a2bd44d2.4ba2b8",
        "type": "debug",
        "z": "2c216edf.870ba2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 150,
        "y": 780,
        "wires": []
    },
    {
        "id": "dc89f725.4c4598",
        "type": "api-call-service",
        "z": "2c216edf.870ba2",
        "name": "Home Away",
        "server": "d20ce5ed.5a1d48",
        "service_domain": "input_select",
        "service": "select_option",
        "data": "{\"entity_id\":\"input_select.home_status\",\"option\":\"Away\"}",
        "mergecontext": "",
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c5b71145.d16a1",
        "type": "api-current-state",
        "z": "e3a2a239.bb883",
        "name": "Sun",
        "server": "d20ce5ed.5a1d48",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "sun.sun",
        "x": 990,
        "y": 160,
        "wires": [
            [
                "55a803b3.eaef0c"
            ]
        ]
    }
]
